@keyframes flouChargement {
  from {
    filter: blur(100px);
  }
  to {
    filter: blur(0px);
  }
}
body {
  font-family: "DM Sans", sans-serif;
  margin: auto;
  width: 100%;
  min-width: 400px;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin: auto;
}

@media (min-width: 1100px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-bottom: 40px;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-bottom: 40px;
    width: 100%;
  }
}
@media (max-width: 800px) {
  header {
    width: 80%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px auto;
  }
}

h1 {
  color: #901C1C;
}
@media (min-width: 1100px) {
  h1 {
    padding-right: 150px;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  h1 {
    padding-right: 100px;
  }
}
@media (max-width: 800px) {
  h1 {
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .logo {
    height: 50px;
    width: 200px;
    margin-left: 150px;
    object-fit: contain;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .logo {
    height: 50px;
    width: 100px;
    object-fit: contain;
    text-align: center;
    padding-left: 130px;
  }
}
@media (max-width: 800px) {
  .logo {
    height: 50px;
    width: 100px;
    margin: auto;
    object-fit: contain;
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .photographer-section {
    width: 90%;
    display: grid;
    align-items: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .photographer-section {
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
}
@media (max-width: 800px) {
  .photographer-section {
    margin: auto;
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.photos-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.article-photo {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 400px;
  align-self: center;
}

.texte-decription__h2 {
  margin: 0 auto;
  color: #D3573C;
  font-size: 36px;
}

.texte-description__localisation {
  margin: 0 auto;
  color: #901C1C;
  font-size: 15px;
}

.texte-description__slogan {
  margin: 0 auto;
  font-size: 15px;
}

.texte-description__paragraphe {
  margin: 0 auto;
  color: #757575;
  font-size: 9px;
}

.article-photo__lien-vignette {
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.lien-vignette__avatar {
  width: 120%;
  height: 120%;
  object-fit: cover;
  object-position: bottom;
  max-height: 300px;
  max-width: 350px;
}

.lien-vignette__avatar--flou {
  filter: blur(150px);
  width: 120%;
  height: 120%;
  object-fit: cover;
  object-position: bottom;
  max-height: 300px;
  max-width: 350px;
  animation-name: flouChargement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.photos-section {
  width: 100%;
  display: flex;
  z-index: 0;
}

@media (min-width: 1100px) {
  .section__enveloppe {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .section__enveloppe {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .section__enveloppe {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.photo-section__figure {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  width: 400px;
  height: 350px;
  margin-bottom: 20px;
}

.figure__lien-photographie {
  cursor: pointer;
  margin: auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.lien-photographie__photographies {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 5px;
}

.lien-photographie__photographies--flou {
  filter: blur(150px);
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-name: flouChargement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  border-radius: 5px;
  z-index: 1;
}

.lien-photographie__video {
  border-radius: 5px;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.figure__legende {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: auto;
  margin: 0 auto;
  color: #901c1c;
  font-size: 15pt;
}

.legende__h2 {
  font-size: 13pt;
  margin: 0;
}

.legende__like {
  display: flex;
  flex-direction: row;
}

.like__nombre-aime {
  display: flex;
  font-weight: 700;
  align-items: center;
  font-size: 13pt;
}

.like__icone-aime {
  cursor: pointer;
}

.fa-heart-margin {
  margin: 0 5px;
}

.photographe-etiquette {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 30px;
  background-color: #db8876;
  font-size: 24px;
  font-weight: 500;
  color: black;
  z-index: 2;
  padding: 10px 20px;
  border-radius: 5px;
}

.photographe-etiquette__coeur {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.photographe-header {
  width: 100%;
  min-width: 400px;
}

main {
  margin: auto;
  width: 100%;
}

@media (min-width: 1100px) {
  .banniere-entete {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    height: 100%;
    width: 85%;
    margin: 0 auto;
    padding: 40px 50px;
    border-radius: 5px;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .banniere-entete {
    background-color: #FAFAFA;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 50px;
    border-radius: 5px;
  }
}
@media (max-width: 800px) {
  .banniere-entete {
    background-color: #FAFAFA;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
    border-radius: 5px;
  }
}

@media (min-width: 1100px) {
  .banniere-entete .article-photo__lien-vignette {
    position: relative;
    margin-left: 200px;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .banniere-entete .article-photo__lien-vignette {
    margin: 40px;
    min-width: 150px;
  }
}
@media (max-width: 800px) {
  .banniere-entete .article-photo__lien-vignette {
    margin: auto;
    margin: 40px auto;
  }
}

.banniere__texte {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
@media (max-width: 800px) {
  .banniere__texte {
    text-align: center;
  }
}

.texte__nom {
  color: #D3573C;
  font-size: 40pt;
  font-weight: 400;
  margin: 20px 20px 0 0;
  padding: 0;
}
@media (max-width: 800px) {
  .texte__nom {
    font-size: 20pt;
  }
}

.texte__slogan {
  margin: 0;
}

.texte__location {
  color: #901C1C;
  padding: 0;
  margin: 5px 0;
}

.contact_button {
  position: relative;
  text-align: center;
  padding: 20px 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: auto;
  height: auto;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  z-index: 1;
}

.contact_button:hover {
  background-color: #DB8876;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.lightBox__section {
  margin: 0 auto;
  overflow: hidden;
}

.lightBox-element {
  margin: auto;
  width: 90%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  .lightBox-element {
    width: 90%;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .lightBox-element {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .lightBox-element {
    width: 60%;
  }
}

.lightBox-element__photo {
  margin: 0 auto;
  position: relative;
  top: 0;
  object-fit: contain;
}
@media (min-width: 1100px) {
  .lightBox-element__photo {
    width: 100%;
    height: 700px;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .lightBox-element__photo {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 800px) {
  .lightBox-element__photo {
    width: 100%;
    height: 400px;
  }
}

.lightBox-element__photo--flou {
  filter: blur(150px);
  animation-name: flouChargement;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  position: relative;
  top: 0;
  object-fit: contain;
}
@media (min-width: 1100px) {
  .lightBox-element__photo--flou {
    width: 100%;
    height: 700px;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .lightBox-element__photo--flou {
    width: 100%;
    height: 500px;
  }
}
@media (max-width: 800px) {
  .lightBox-element__photo--flou {
    width: 100%;
    height: 400px;
  }
}

.lightBox-element__video {
  margin: auto;
  width: 90%;
}
@media (max-width: 800px) {
  .lightBox-element__video {
    width: 90%;
    height: 500px;
  }
}

.lightBox__section__bouton {
  visibility: visible;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  margin: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.784);
  z-index: 5;
}

.lightBox__section__bouton--invisible {
  visibility: hidden;
}

.description__h3 {
  color: #901C1C;
}

.lightBox-quitter {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  color: #901C1C;
  right: 0;
  margin-right: 30px;
  top: 20px;
  cursor: pointer;
}

.boutonGauche {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #901C1C;
  margin-left: 30px;
  cursor: pointer;
}

.boutonDroite {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: #901C1C;
  margin-right: 30px;
  cursor: pointer;
}

.contact_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.modal-contact-section--invisible {
  visibility: hidden;
}

.modal-contact-section {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.719);
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 30;
}

.modal-formulaire {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  min-width: 300px;
  height: auto;
  top: 100px;
  background-color: #DB8876;
  padding: 15px 20px;
  border-radius: 5px;
}

.formulaire__entete {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.entete__recepteur-titre {
  color: black;
  font-size: 25pt;
  font-weight: 400;
  white-space: nowrap;
  margin: 0 0 20px 0;
}

.formulaire__input {
  border-radius: 5px;
  height: 30px;
  outline: none;
  border: none;
}

.formulaire__label {
  font-size: 15pt;
}

[name="Your message"] {
  height: 100px;
  resize: none;
}

.input__envoyer-bouton {
  position: relative;
  text-align: center;
  padding: 15px 40px;
  font-size: 10pt;
  font-weight: 400;
  color: white;
  width: 50px;
  height: auto;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0;
  margin-top: 15px;
  z-index: 20;
}

.entete__close-bouton {
  color: white;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  right: 5px;
  top: 5px;
}
.formulaire__erreur {
  position: relative;
  height: 20px;
  padding-top: 10px;
  opacity: 1;
  color: rgb(0, 0, 0);
  align-self: center;
  animation-duration: 2s;
  animation-iteration-count: 5;
  animation-fill-mode: backwards;
}

@media (min-width: 1100px) {
  .selection {
    position: relative;
    margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 150px;
    font-size: 15pt;
    cursor: pointer;
  }
}
@media (min-width: 800px) and (max-width: 1100px) {
  .selection {
    position: relative;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50px;
    font-size: 15pt;
  }
}
@media (max-width: 800px) {
  .selection {
    position: relative;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50px;
    font-size: 15pt;
  }
}

.select-option {
  display: none;
  color: white;
}

.option-menu--selectionnant {
  border: 2px solid black;
}

.option-menu {
  padding: 10px 0;
  border-top: 2px solid white;
}

.selection input {
  display: block;
  white-space: nowrap;
  border: none;
  outline: none;
  background-color: #901C1C;
  color: white;
  font-size: 15pt;
  padding: 10px 0;
  width: 150px;
  height: auto;
  cursor: pointer;
}

.select-menu {
  position: absolute;
  margin-left: 100px;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #901C1C;
  height: auto;
  border-radius: 5px;
  z-index: 1;
}

.select-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.fa-color-white {
  color: white;
}

.select-label {
  white-space: nowrap;
  margin-right: 40px;
  margin-top: 15px;
  font-weight: 600;
}

/*# sourceMappingURL=stylefrontendfisheye.css.map */
