
@use  "utils" as u;

.photographe-header {
    width:100%;
    min-width: 400px;
}
main{
    margin: auto;
    width:100%;
}
.banniere-entete {
    @include u.desktop{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    height: 100%;
    width: 78%;
    margin: 0 auto;
    padding: 40px 50px;
    border-radius: 5px;
}
@include u.tablet{
    
    background-color: #FAFAFA;
    margin: auto;
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 50px;
    border-radius: 5px;

}
@include u.mobile{
    
    background-color: #FAFAFA;
    margin: auto;
    width:50%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
    padding: 40px 50px;
    border-radius: 5px;

}
}

.banniere-entete .article-photo__lien-vignette {
    @include u.desktop{
    
        position: relative;
        margin-left: 200px;
    }
    @include u.tablet{
        margin:40px;
        min-width: 150px;
    }
    @include u.mobile{
        margin:auto;
        
        margin:40px auto;
    }
}

.banniere__texte {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    @include u.mobile{
        text-align: center;
    }

}

.texte__nom {
    color: #D3573C;
    font-size: 40pt;
    font-weight: 400;
    margin: 20px 20px 0 0;
    padding: 0;
    @include u.mobile{
        
    font-size: 20pt;
    }

}

.texte__slogan {
    margin: 0;
}

.texte__location {
    color: #901C1C;
    padding: 0;
    margin: 5px 0;
}

.contact_button {
    position: relative;
    text-align: center;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    z-index: 1;
    
}

.contact_button:hover{
    background-color:#DB8876;
    color:black;
    font-size: 20px;
    font-weight: bold;
}