
.photographe-header {
    filter: blur(10px);
    animation-name: flouChargement;
        animation-duration: 3s;
        animation-fill-mode: forwards;
}

.banniere-entete{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FAFAFA;
    height: 100%;
    width:calc(80% - 50px);
    margin:auto;
    padding:50px;
}


.banniere__texte{
    display:flex;
    flex-direction: column;

}

.texte__nom{
    color: #D3573C;

}

.texte__slogan{

}

.texte__location{
    color:#901C1C;
}

.contact_button {
    position:relative;
    text-align: center;
    padding:20px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    z-index: 20;
}
