.photographe-header {}

.banniere-entete {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    height: 100%;
    width: calc(80% - 50px);
    margin: 0 auto;
    padding: 40px 50px;
    border-radius: 5px;
}

.banniere-entete .article-photo__lien-vignette {
    position: relative;
    margin-left: 200px;
}

.banniere__texte {
    display: flex;
    flex-direction: column;
    white-space: nowrap;

}

.texte__nom {
    color: #D3573C;
    font-size: 40pt;
    font-weight: 400;
    margin: 20px 20px 0 0;
    padding: 0;

}

.texte__slogan {
    margin: 0;
}

.texte__location {
    color: #901C1C;
    padding: 0;
    margin: 5px 0;
}

.contact_button {
    position: relative;
    text-align: center;
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: auto;
    height: auto;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    z-index: 1;
}

.contact_button:hover{
    background-color:#DB8876;
    color:black;
    font-size: 20px;
    font-weight: bold;
}