
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

main{
    display:flex;
    flex-direction: column;
    margin-top: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    width:200px;
    margin-left: 130px;
}

.photographer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.photos-section{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.article-photo{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:auto;
    width:400px;
    align-self: center;
 }

.article-photo__texte-description{

}

.texte-decription__h2{
    margin:0 auto;
    color: #D3573C;
    font-size: 36px;
}

.texte-description__localisation{
    margin:0 auto;
    color: #901C1C;
    font-size: 15px;
}

.texte-description__slogan{
    margin:0 auto;
    font-size: 15px;

}

.texte-description__paragraphe{
    margin:0 auto;
    color: #757575;
    font-size: 9px;
}

.article-photo__lien-vignette{
    border-radius: 100%;
    overflow: hidden;
    width:150px;
    height:150px;

}

 .lien-vignette__avatar{
    width:120%;
    height:120%;
    object-fit:cover;
    object-position:bottom 0;
    max-height: 300px;
    max-width: 350px;
    
 }

 .lien-vignette__avatar--flou{
    filter:blur(150px);
    width:120%;
    height:120%;
    object-fit:cover;
    object-position:bottom 0;
    max-height: 300px;
    max-width: 350px;
    
    animation-name: flouChargement;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
 }