
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

main{
    display:flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    width:200px;
    margin-left: 130px;
}

.photographer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: top;
}

.photos-section{
    width:100%;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.article-photo{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:auto;
    width:400px;
    align-self: center;
 }

.article-photo__texte-description{

}

.texte-decription__h2{
    margin:0 auto;
    color: #D3573C;
    font-size: 36px;
}

.texte-description__localisation{
    margin:0 auto;
    color: #901C1C;
    font-size: 15px;
}

.texte-description__slogan{
    margin:0 auto;
    font-size: 15px;

}

.texte-description__paragraphe{
    margin:0 auto;
    color: #757575;
    font-size: 9px;
}

.article-photo__lien-vignette{
    border-radius: 100%;
    overflow: hidden;
    width:150px;
    height:150px;

}

#lien-vignette__avatar-243{
    object-position: -30px -60px;
}
#lien-vignette__avatar-930{
    object-position: -90px -20px;
}
#lien-vignette__avatar-82{
    object-position: 0px -20px;
    max-width: 200px;
}
#lien-vignette__avatar-527{
    object-position: 0px -50px;
}
#lien-vignette__avatar-925{
    object-position: -90px 0;
}
#lien-vignette__avatar-195{
    object-position: -80px 0;
}

 .lien-vignette__avatar{
    width:500%;
    height:500%;
    max-height: 300px;
    max-width: 350px;
    object-fit: contain;
 }