.lightBox__section{
    margin:auto;
    overflow: hidden;
}

.lightBox-element{
    margin:auto;
    width:100%; 
    height:100%; 
    overflow: hidden;
}

.lightBox-element__photo{
    margin:auto;
    width:100%; 
    max-width: 800px;
    max-height: 600px;
    height:100%; 
    object-fit: contain;
    overflow: hidden;

}
.lightBox-element__video{
    
}

.lightBox__section__bouton{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top:0;
    margin:0px;
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.784);

}

.lightBox__section__bouton--invisible{
    display:none;
}

.lightBox-element__description{


}


.description__h3{
    color:#901C1C;


}
