
.selection{
    position: relative;
    margin-left:125px;
    margin-top: 20px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:150px;
    font-size: 15pt;
    cursor:pointer;
}

.select-option{
    display:none;
    color: white; 
}

.option-menu--selectionnant{
        border: 2px solid black;
}

.option-menu{
    padding:10px 0;
    border-top: 2px solid white;
}

.selection input{
    display:block;
    white-space: nowrap;
    border:none;
    outline:none;
    background-color: #901C1C;
    color:white;
    font-size: 15pt;
    padding:10px 0;
    width:150px;
    height:auto;
    cursor:pointer;
}

.select-menu{
    position:absolute;
    margin-left: 100px;
    top:0;
    left:0;
    padding:10px;
    background-color: #901C1C;
    height:auto;
    border-radius: 5px;
    z-index:1;
    
}
.select-input{
    display:flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

}


.fa-color-white{
    color:white;
}

.select-label{
    white-space: nowrap;
    margin-right: 40px;
    margin-top: 15px;
    font-weight: 600;

}